<a href="https://colab.research.google.com/github/dangcaptkd/CS114.K21-/blob/master/18521322_round3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
url = 'http://cs.uit.edu.vn/data3.txt'
names = ['size', 'time']
dataset = pd.read_csv(url, names=names)
dataset.head()
data = dataset.values
x= data[:,0]
y = data[:,1]
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
x_train = x_train.reshape(-1, 1)
x_test = x_test.reshape(-1, 1)
y_train = y_train.reshape(-1, 1)
y_test = y_test.reshape(-1, 1)
model = LinearRegression()
model.fit(x_train, y_train)
pred = model.predict(x_test)
mae = mean_absolute_error(y_test, pred)
print(mae)

0.042377986732462146

In [12]:
dataset['size2'] = dataset['size']*dataset['size']
dataset['sizeLogsize'] = dataset['size']*np.log10(dataset['size'])
dataset

           size     time             size2   sizeLogsize
0      37837612  4.12166  1431684881862544  2.867305e+08
1      37395246  3.92089  1398404423400516  2.831873e+08
2      36610827  3.21540  1340352653623929  2.769100e+08
3      29555651  2.54506   873536506033801  2.207996e+08
4      25928216  2.21831   672272384942656  1.922259e+08
...         ...      ...               ...           ...
10585  26872494  2.35117   722130933780036  1.996440e+08
10586  20753811  1.79155   430720671023721  1.518577e+08
10587  33520323  2.90918  1123612054024329  2.522508e+08
10588  21243264  1.80292   451276265373696  1.556541e+08
10589  21380484  1.82795   457125096074256  1.567193e+08

[10590 rows x 4 columns]

In [13]:
dataset = pd.DataFrame(dataset, columns=['size2', 'sizeLogsize', 'size', 'time'])
dataset

                  size2   sizeLogsize      size     time
0      1431684881862544  2.867305e+08  37837612  4.12166
1      1398404423400516  2.831873e+08  37395246  3.92089
2      1340352653623929  2.769100e+08  36610827  3.21540
3       873536506033801  2.207996e+08  29555651  2.54506
4       672272384942656  1.922259e+08  25928216  2.21831
...                 ...           ...       ...      ...
10585   722130933780036  1.996440e+08  26872494  2.35117
10586   430720671023721  1.518577e+08  20753811  1.79155
10587  1123612054024329  2.522508e+08  33520323  2.90918
10588   451276265373696  1.556541e+08  21243264  1.80292
10589   457125096074256  1.567193e+08  21380484  1.82795

[10590 rows x 4 columns]

In [14]:
data = dataset.values
x = data[:,:3]
y = data[:,3]
print(x.shape)
print(y.shape)

(10590, 3)
(10590,)

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [17]:
model = LinearRegression()
model.fit(x_train, y_train)
pred = model.predict(x_test)
mae = mean_absolute_error(y_test, pred)
print(mae)

0.043060170861103864

**trả lời câu hỏi**

1. Vấn đề gặp phải tệ hơn là gì? giải thích? Không thấy đc vấn đề tệ hơn ạ :)), chỉ thấy đc mae cùng 1 bài nhưng cao hơn ạ
2. Đã thêm feature và mae thập chí còn cao hơn cái cũ(e cũng không hiểu luôn :( )
3. model mới tệ hơn ạ :))