<a href="https://colab.research.google.com/github/dangcaptkd/CS114.K21-/blob/master/Fruit_recognition_using_color_extraction2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!pip install opencv-python==3.1.0.4

Collecting opencv-python==3.1.0.4
  Downloading https://files.pythonhosted.org/packages/4a/48/79ec6689ecc6e2258f38899f092f856901f41a1423121a553e9820de81a1/opencv_python-3.1.0.4-cp36-cp36m-manylinux1_x86_64.whl (6.2MB)
     |████████████████████████████████| 6.2MB 2.8MB/s
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from opencv-python==3.1.0.4) (1.18.5)
ERROR: dopamine-rl 1.0.5 has requirement opencv-python>=3.4.1.15, but you'll have opencv-python 3.1.0.4 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: opencv-python
  Found existing installation: opencv-python 4.1.2.30
    Uninstalling opencv-python-4.1.2.30:
      Successfully uninstalled opencv-python-4.1.2.30
Successfully installed opencv-python-3.1.0.4

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import numpy as np
import cv2
from collections import Counter
from skimage.color import rgb2lab, deltaE_cie76
import os
from google.colab.patches import cv2_imshow
import pandas as pd

In [4]:
def find_contour(cnts, resized_image):
    contains = []
    y_ri,x_ri, _ = resized_image.shape
    for cc in cnts:
        yn = cv2.pointPolygonTest(cc,(x_ri//2,y_ri//2),False)
        contains.append(yn)

    val = [contains.index(temp) for temp in contains if temp>0]
    #print(contains)
    #print(val)
    if len(val)==0:
      return 0
    return val[0]

In [5]:
def remove_background(img):
  gs = cv2.cvtColor(img,cv2.COLOR_RGB2GRAY)
  blur = cv2.GaussianBlur(gs, (55,55),0)
  ret_otsu,im_bw_otsu = cv2.threshold(blur,0,255,cv2.THRESH_BINARY_INV+cv2.THRESH_OTSU)
  kernel = np.ones((50,50),np.uint8)
  closing = cv2.morphologyEx(im_bw_otsu, cv2.MORPH_CLOSE, kernel)
  image, contours, hierarchy = cv2.findContours(closing,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)

  black_img = np.empty([200,200,3],dtype=np.uint8)
  black_img.fill(0)

  index = find_contour(contours, img)
  cnt = contours[index]
  mask = cv2.drawContours(black_img, [cnt] , 0, (255,255,255), -1)

  maskedImg = cv2.bitwise_and(img, mask)

  white_pix = [255,255,255]
  black_pix = [0,0,0]

  final_img = maskedImg
  h,w,channels = final_img.shape
  for x in range(0,w):
      for y in range(0,h):
          channels_xy = final_img[y,x]
          if all(channels_xy == black_pix):    
              final_img[y,x] = white_pix
  
  return final_img

In [6]:
def features_grid(img):
    features = np.array([], dtype='uint8')
    section = 1
    
    for y in range(0, img.shape[0], 40):
        for x in range(0, img.shape[1], 40):

            # Cropping the image into a section.
            section_img = img[y:y+40, x:x+40]
            
            # Claculating the mean and stdev of the sectioned image.
            section_mean = np.mean(section_img)
            section_std = np.std(section_img)
            
            # Appending the above calculated values into features array.
            features = np.append(features, [section_mean, section_std])
    
    # Returning the features array.
    return features

In [8]:
path = '/content/drive/My Drive/học kì 4 uit/Fruit_60_imgs'
folder_name = os.listdir(path)
dataset = {}
number = 1
for name in folder_name:
  images = []
  for img in os.listdir(path+'/'+name):
    fruit_img = cv2.imread(path+'/'+name+'/'+img)
    resized_img = cv2.resize(fruit_img, (200, 200))
    rb_img = remove_background(resized_img)
    images.append(rb_img)
    #cv2_imshow(rb_img)
    if number%10==0:
      print('done {} image'.format(number))
    number+=1
  dataset[name] = images

done 10 image
done 20 image
done 30 image
done 40 image
done 50 image
done 60 image

In [37]:
dataset['cachua'][0].shape

(200, 200, 3)

In [21]:
all_imgs = np.zeros((1, 50), dtype='uint8')
name_fruits = []

In [23]:
#all_imgs = np.append(all_imgs, img_features, axis=0)
for name in dataset:
  for img in dataset[name]:
    name_fruits.append(name)
    img_features = features_grid(img)
    #img_features = np.append(img_features, name)
    img_features = img_features.reshape(1, img_features.shape[0])

    all_imgs = np.append(all_imgs, img_features, axis=0)

all_imgs = all_imgs[1:]

In [24]:
all_imgs.shape

(60, 50)

In [25]:
feature_names = []
section = 1
    
for y in range(0, 200, 40):
    for x in range(0, 200, 40):
        feature_names.append(f"sec{section}_mean")
        feature_names.append(f"sec{section}_std")
        section += 1

In [26]:
df = pd.DataFrame(all_imgs, columns=feature_names)
df.head()

   sec1_mean  sec1_std  sec2_mean  ...  sec24_std  sec25_mean  sec25_std
0      255.0       0.0      255.0  ...  40.747863  255.000000   0.000000
1      255.0       0.0      255.0  ...  33.787537  164.457500  26.205150
2      255.0       0.0      255.0  ...  64.270181  255.000000   0.000000
3      255.0       0.0      255.0  ...  41.699228  151.464167  33.031115
4      255.0       0.0      255.0  ...  52.583951  150.344167  33.375900

[5 rows x 50 columns]

In [27]:
df.insert(loc=0, column="name", value=name_fruits)
df.head()

  name  sec1_mean  sec1_std  ...  sec24_std  sec25_mean  sec25_std
0  cam      255.0       0.0  ...  40.747863  255.000000   0.000000
1  cam      255.0       0.0  ...  33.787537  164.457500  26.205150
2  cam      255.0       0.0  ...  64.270181  255.000000   0.000000
3  cam      255.0       0.0  ...  41.699228  151.464167  33.031115
4  cam      255.0       0.0  ...  52.583951  150.344167  33.375900

[5 rows x 51 columns]

In [30]:
labels = df['name']
features = df.drop(['name'], axis=1)

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(features, labels, test_size=0.25)

In [33]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(45, 50)
(15, 50)
(45,)
(15,)

In [34]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score

In [35]:
models = []
models.append(('rfc', RandomForestClassifier()))
models.append(('svc', SVC()))
models.append(('knn', KNeighborsClassifier()))


for name, model in models:
  print(name)
  model.fit(X_train, Y_train)
  #print('\ttrain', accuracy_score(Y_train, Y_test))
  pred = model.predict(X_test)
  print('\ttest', accuracy_score(Y_test, pred))

rfc
	test 0.9333333333333333
svc
	test 0.8666666666666667
knn
	test 0.8666666666666667

In [43]:
def create_df_with_one_img(img):
  all_imgs = np.zeros((1, 50), dtype='uint8')
  img_features = features_grid(img)
  #img_features = np.append(img_features, name)
  img_features = img_features.reshape(1, img_features.shape[0])

  all_imgs = np.append(all_imgs, img_features, axis=0)
  df = pd.DataFrame(all_imgs[1:], columns=feature_names)
  return df

In [44]:
img = cv2.imread('/content/cachua.jpg')
img = cv2.resize(img, (200, 200))
img = remove_background(img)

df = create_df_with_one_img(img)
df.head()

   sec1_mean  sec1_std   sec2_mean  ...  sec24_std  sec25_mean  sec25_std
0      255.0       0.0  246.079792  ...    71.5727  254.177292   9.679877

[1 rows x 50 columns]

In [45]:
for name, model in models:
  pred = model.predict(df)
  print(name, pred)

rfc ['chuoi']
svc ['chuoi']
knn ['cachua']